<div class="schedule" id="shw1" *ngIf="showjobID">
    <div class="wrapper fadeInDown mt">
        <div id="formContent" class="">
            <!-- Tabs Titles -->

            <!-- add main product Form -->
            <form class="md-form">

                <div class="cancle-button">
                    <span class="cnav"><button id="shw2" (click)="myjob(false)"
                            [routerLink]="['/dashboard/adminpage']">&times;</button></span>
                    <h4>Price and Weight</h4>
                </div>
                <div style="padding: 10px;">
                </div>
                <div class=" col-xs-12">
                    <div class="form-group">
                        <label class="control-label ml">Select Sub product<span style="color: red">*</span></label>
                        <select name="subproduct" class="form-control" (change)="selectSubProd($event)" [(ngModel)]="productId" id="sel1">
                            <option [selected]="true" [disabled]="true" [value]="0">Select sub product</option>
                            <option *ngFor="let x of names" [value]="x.id">{{x.subproduct_name}}</option>
                        </select>
                    </div>
                </div>
                <div class=" col-xs-12">
                    <div class="form-group">
                        <label class="control-label ml">Select Measure<span style="color: red">*</span></label>
                        <select name="subproduct" class="form-control" (change)="getmeasuerstocks($event)" [(ngModel)]="measureID" id="sel1">
                            <option [selected]="true" [disabled]="true" [value]="0">Select Measure</option>
                            <option *ngFor="let i of measures" [value]="i.id">{{i.measure}}</option>
                        </select>
                    </div>
                </div>
                <div class=" col-xs-12">
                    <label class="control-label ml">Buying Price<span style="color: red">*</span></label>
                    <div class="input-group place-holder">
                        <input type="text" [(ngModel)]="uploading.buying_price" id="buying_price" class="form-control" name="buying_price" placeholder="Enter Buying price">
                    </div>
                </div>
                <div class=" col-xs-12">
                    <label class="control-label ml">Selling Price<span style="color: red">*</span></label>
                    <div class="input-group place-holder">
                        <input type="text" [(ngModel)]="uploading.price" id="price" class="form-control" name="price" placeholder="Enter Price">
                    </div>
                </div>

                <div class=" col-xs-12">
                    <label class="control-label ml">Weight<span style="color: red">*</span></label>
                    <div class="input-group place-holder">
                        <input type="text" [(ngModel)]="uploading.weight" id="weight" class="form-control" name="weight" placeholder="Enter Weight">
                    </div>
                </div>

                <div class=" col-xs-12">
                    <button class="btn btn-primary pr" (click)="onSubmit()" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>