<div class="schedule" id="shw1" *ngIf="showjobID">
    <div class="wrapper fadeInDown mt">
        <div id="formContent" class="">
            <!-- Tabs Titles -->

            <!-- add main product Form -->
            <form class="md-form">

                <div class="cancle-button">
                    <span class="cnav"><button id="shw2" (click)="myjob(false)"
                            [routerLink]="['/dashboard/adminpage']">&times;</button></span>
                    <h4> Sub product</h4>
                </div>
                <div style="padding: 10px;">
                </div>
                <div class=" col-xs-12">
                    <div class="form-group">
                        <label class="control-label ml">Select main product<span style="color: red">*</span></label>
                        <select name="product" class="form-control" (change)="selectMainProd($event)" [(ngModel)]="productId" id="sel1">
                            <option [selected]="true" [disabled]="true" [value]="0">Select product</option>
                            <option *ngFor="let x of names" [value]="x.id">{{x.main_pro_name}}</option>

                        </select>
                    </div>
                </div>


                <div class=" col-xs-12">
                    <label class="control-label ml">Name<span style="color: red">*</span></label>
                    <div class="input-group place-holder">
                        <input type="text" [(ngModel)]="uploadgin.name" id="name" class="form-control" name="name" placeholder="Enter Sub product name">
                    </div>
                </div>

                <div class=" col-xs-12">
                    <label class="control-label ml">Tax</label>
                    <div class="input-group place-holder">
                        <input type="text" [(ngModel)]="uploadgin.tax" id="tax" class="form-control" name="tax" placeholder="Enter Tax">
                    </div>
                </div>
                <div class=" col-xs-12">
                    <label class="control-label ml">Discount</label>
                    <div class="input-group place-holder">
                        <input type="text" [(ngModel)]="uploadgin.discount" id="discount" class="form-control" name="discount" placeholder="Enter Discount">
                    </div>
                </div>
                <div class=" col-xs-12">
                    <label class="control-label ml">Description</label>
                    <div class="input-group place-holder">
                        <textarea rows="4" cols="50" [(ngModel)]="uploadgin.description" id="description" class="form-control" name="description" placeholder="Enter Description"></textarea>
                    </div>
                </div>

                <div class=" col-xs-12">
                    <label class="control-label ml">Upload Image One<span style="color: red">*</span></label>
                    <div class="input-group place-holder">
                        <input type="file" (change)="uploadImageOne($event.target.files)" id="upload" class="form-control" name="name">
                    </div>
                </div>
                <div class=" col-xs-12">
                    <label class="control-label ml">Upload Image Two</label>
                    <div class="input-group place-holder">
                        <input type="file" (change)="uploadImageTwo($event.target.files)" id="upload" class="form-control" name="name">
                    </div>
                </div>
                <div class=" col-xs-12">
                    <label class="control-label ml">Upload Image Three</label>
                    <div class="input-group place-holder">
                        <input type="file" (change)="uploadImageThree($event.target.files)" id="upload" class="form-control" name="name">
                    </div>
                </div>

                <div class=" col-xs-12">
                    <button class="btn btn-primary pr" (click)="onSubmit()" style="float: left; margin: 0px 30px 12px 26px;" type="submit">Save</button>
                    <button class="btn btn-primary pr" (click)="nextPage()" style="float: right; margin: 2px 30px 12px 26px;" type="submit">Next >></button>
                </div>
            </form>
        </div>
    </div>
</div>