<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Hello, <span>Welcome Here</span></h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
            <!-- /# row -->
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="stat-widget-two">
                                <div class="stat-content">
                                    <div class="stat-text">Remaining Stocks </div>
                                    <div class="stat-digit">{{allcount?.all_count}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="stat-widget-two">
                                <div class="stat-content">
                                    <div class="stat-text">Pending Orders</div>
                                    <div class="stat-digit">{{pOrder?.all_count}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="stat-widget-two">
                                <div class="stat-content">
                                    <div class="stat-text">Total Users</div>
                                    <div class="stat-digit">{{tusers?.all_count}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
                <!-- /# row -->
            </section>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="card">
                <div class="card-body ">
                    <h4 class="card-title" style="text-align: center; color: rgba(85, 42, 29, 0.897)">
                        User Details</h4>
                    <div class="panel-body">
                        <div class="table-responsive scroll-box">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>User name </th>
                                        <th>Email ID</th>
                                        <th>Phone number</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of data" (click)="products(user.cost)" style="cursor: pointer">
                                        <td><span><img [src]="user.status==false?'assets/images/icons/reddot.jpg':'assets/images/icons/whitedot.jpg'" style="width: 10px; margin-right: 2px;"></span> {{user.full_name}}
                                        </td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.phone_number}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center; color: rgba(85, 42, 29, 0.897)">
                        Order Details</h4>
                    <div class="panel-body">
                        <div class="table-responsive scroll-box">
                            <h1 *ngIf="deliveryDisplay" style="text-align: center; color: #cccc; margin-top: 8%">
                                Please Select Any User</h1>
                            <table *ngIf="!deliveryDisplay" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Status</th>
                                        <th>Delivery Name</th>
                                        <th>Delivery Phone number</th>
                                        <th>Delivery address</th>
                                        <th>Total Amount</th>
                                        <th>Ordered date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="cursor: pointer" *ngFor="let p of productsDetails.details" (click)="permit_product(p.products)">
                                        <td><img [src]="p.status==false?'assets/images/icons/nocart.png':'assets/images/icons/yescart.png'" style="width: 31px;"></td>
                                        <td>{{p.delivery_name}}</td>
                                        <td>{{p.delivery_phone_number}}</td>
                                        <td>{{p.delivery_address}}</td>
                                        <td>{{p.total}}</td>
                                        <td>{{p.ordered_data}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center; color: rgba(85, 42, 29, 0.897)">
                        Product Details</h4>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="txt_left">
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Measure</th>
                                        <th>Price</th>
                                        <th>Weight</th>
                                        <th>Quantity</th>
                                        <th>Remaining stocks</th>
                                        <th>Status</th>
                                        <th>Permission</th>
                                    </tr>
                                </thead>
                                <tbody style="background-color:#dddcc7cb">
                                    <tr *ngFor="let details of x">
                                        <td>{{details.price_wight.name}}</td>
                                        <td>{{details.price_wight.measure}}</td>
                                        <td>{{details.price_wight.price}}</td>
                                        <td>{{details.price_wight.weight}}</td>
                                        <td>{{details.quantity}}</td>
                                        <td>{{details.price_wight.stocks}}</td>
                                        <td>{{details.status}}</td>
                                        <td style="font-family: auto;">
                                            <div class="btn-group" id="status" data-toggle="buttons">

                                                <label [ngClass]="{'is-active': details.status=='Accept'}" class="btn btn-light btn-rounded btn-sm m-0" data-toggle="modal" data-target="#myModal">
                                                    <button (click)="permission(details.product_id,'Accept')"
                                                        name="Accept">Accept</button></label>

                                                <label [ngClass]="{'is-active': details.status=='Reject'}" class="btn btn-light btn-rounded btn-sm m-0" data-toggle="modal" data-target="#myModal">
                                                    <button (click)="permission(details.product_id,'Reject')"
                                                        name="Reject">Reject</button></label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-group text-right">
                                <span>
                                    <button type="submit" class="btn btn-success btn-2"
                                        (click)="updated()">Submit</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>