.left th {
    text-align: justify;
    width: 700px;
}

.color {
    background-color: rgb(209, 209, 209);
    color-adjust: #ffff;
}

.thirdcol_color th {
    background-color: rgb(208, 224, 147);
}

tr:hover {
    background-color: #dbc1b3c0;
}

.is-active {
    background-color: green;
}